<header class="section-header">
  <section class="header-main">
      <div class="container-fluid">
          <div class="p-2 pt-3 pb-3 d-flex flex-wrap align-items-center justify-content-center">
              <div class="px-5"> <img class="d-md-flex" src="https://mytrackcdn.com/img/couriers/dhl-ecommerce.png" width="150"> </div>
              <div class="px-5">
                <ul class="d-flex align-items-center justify-content-center pt-3">
                  <li class="nav-item"> <a class="nav-link" aria-current="page" routerLink="/Home" routerLinkActive = "active">Home</a> </li>
                  <li class="nav-item"> <a class="nav-link" routerLink="/Products" routerLinkActive = "active">Products</a> </li>
                  <li class="nav-item"> <a class="nav-link" routerLink="/Services" routerLinkActive = "active">Services</a> </li>
                  <li class="nav-item"> <a class="nav-link" routerLink="/Contact-Us" routerLinkActive = "active"> Contact Us </a></li>
                  <li class="nav-item"> <a class="nav-link" routerLink="/Register" routerLinkActive = "active"> Register </a></li>
                  <li class="nav-item"> <a class="nav-link" routerLink="/Login" routerLinkActive = "active"> Login </a></li>
                </ul>
              </div>
              <div class="shopping px-5" style="cursor:pointer;">
                  <div class="d-flex d-md-flex flex-row align-items-center" routerLink="/Cart">
                      <span class="shop-bag"><i class="fas fa-shopping-bag"></i></span>
                      <div class="d-flex flex-column ms-2"> <span class="qty">{{totalItem}} Product</span></div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</header>
